@import "minima";

body {
  font-family: "Lato", sans-serif;
  margin: auto;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.site-nav {
  display: none;
}
.site-title {
  font-size: x-large;
  display: none;
}
.page-heading {
  display: none;
}
.page-content {
  margin: auto;
  width: 60%;
}

.home {
  margin: auto;
  color: #4e4c4f;
}

.site-header {
  background-color: white !important;
}

.grid {
  display: grid;
}

.col {
  position: inline;
}

footer {
  background-color: #454345;
  width: 100vw;
  height: 5vh;
}

.header {
  background-color: #454345;
  width: 100vw;
  height: 5vh;
}

.minova-logo {
  max-height: 100px;
}
